#main-article > header,
#main-article > section,
#main-article > p 
{
    width: 75%;
}

#main-article > header
{
    margin: 2rem 0 3rem 0;
}

#main-article h2 {
    font-size: 3rem;
}

#main-article > img 
{
    width: 100%;
    height: 20rem;
    object-fit: cover;   
}

#main-article > p 
{
    font-size: 1.4rem;
    font-weight: 600;

    margin-bottom: 3rem;
}

#main-article > section 
{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

#main-article > section > h3
{
    margin-bottom: 0.75rem;
}